@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$colorBlack: #1B1B1B;
$colorGray: #A6A6A6;
$colorWhite: #FFF;
$colorGreen: #00D793;
$colorPurple: #656DF1;

$typeAnim: ease-in 0.3s;

$sb: 100px;

body {
    font-family: 'Roboto', sans-serif;
}

svg {
    fill: $colorBlack;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

// MAIN PAGE

header {
    max-width: 1920px;
    margin: auto;

    padding: 30px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-switch {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-devider {
        border-left: 1px solid $colorPurple;
        height: 35px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-items {
        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            margin-right: 20px;
        }

        a {
            color: $colorGray;
            font-size: 18px;

            &.active-switch {
                color: $colorBlack;
            }
            &:hover {
                color: $colorBlack;
                transition: $typeAnim;
            }
        }
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-links {
        margin-right: 65px;

        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            margin-left: 25px;
        }

        a {
            color: $colorGray;
            font-size: 18px;

            &:hover {
                color: $colorBlack;
                transition: $typeAnim;
            }
        }
    }

    .header-login {
        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: pointer;

        span {
            margin-right: 15px;
            color: $colorPurple;
        }
    }
}

.section-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;

    padding: 0 20px;

    background: linear-gradient(180deg, #E9F8FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorGreen;
            box-shadow: 0px 4px 4px rgba(0, 215, 147, 0.25);
            border-radius: 5px;

            &:hover {
                background: $colorPurple;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

.section-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: linear-gradient(180deg, #FCE9FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

.section-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: linear-gradient(180deg, #FDEFEE 0%, #F7F4FB 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 60%;
        margin-right: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorGreen;
            box-shadow: 0px 4px 4px rgba(0, 215, 147, 0.25);
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-left: 20px;

        display: flex;
        justify-content: flex-start;
        width: 40%;
    }
}

.section-invest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: linear-gradient(180deg, #EEFDF1 0%, #EEFDF1 0.01%, #F8FFF9 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

.section-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: linear-gradient(180deg, #CAE6FF 0%, #C0F7FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 60%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .social-links {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            font-size: 24px;
            color: $colorBlack;
            margin-right: 45px;
        }

        svg {
            margin-right: 35px;
            cursor: pointer;

            &:hover {
                fill: $colorPurple;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-start;
        width: 40%;
    }
}

.section-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: #fff;

    margin-bottom: $sb;

    .section-content {
        margin-left: 20px;
        text-align: center;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorGreen;
            box-shadow: 0px 4px 4px rgba(0, 215, 147, 0.25);
            border-radius: 5px;

            &:hover {
                background: $colorPurple;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

footer {
    max-width: 1880px;
    height: 720px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    background: linear-gradient(180deg, #FFE9F1 0%, #F7F5FF 100%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-phone {
        display: flex;
        flex-direction: column;

        a {
            font-size: 36px;
            color: $colorBlack;
        }

        span {
            font-size: 18px;
            color: $colorGray;
        }
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        li {
            margin-bottom: 10px;
        }

        a {
            font-size: 18px;
            color: $colorBlack;
            margin-bottom: 15px;

            &.nav-header {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: $colorBlack;
            }
            &:hover {
                color: $colorPurple;
                transition: $typeAnim;
            }
        }
    }

    .footer-copyright {
        text-align: center;
        font-size: 24px;
        color: $colorGray;
    }
}

// CARDS PAGE

.section-cpmain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;

    padding: 0 20px;

    background: linear-gradient(180deg, #E9F8FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 80px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorGreen;
            box-shadow: 0px 4px 4px rgba(0, 215, 147, 0.25);
            border-radius: 5px;

            &:hover {
                background: $colorPurple;
                transition: $typeAnim;
            }
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

.section-standard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;

    padding: 0 20px;

    background: linear-gradient(180deg, #E9F8FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .pluses-items {
        ul {
            margin-bottom: 80px;
        }

        svg {
            margin-right: 15px;
        }

        li {
            margin-bottom: 20px;
        }

        span {
            font-size: 24px;
            color: $colorPurple;
            font-weight: bold;
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

.section-business {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;

    padding: 0 20px;

    background: linear-gradient(180deg, #E9F8FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 60%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .pluses-items {
        ul {
            margin-bottom: 80px;
        }

        svg {
            margin-right: 15px;
        }

        li {
            margin-bottom: 20px;
        }

        span {
            font-size: 24px;
            color: $colorPurple;
            font-weight: bold;
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-start;
        width: 40%;
    }
}

.section-premium {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1880px;
    height: 720px;
    margin: auto;

    padding: 0 20px;

    background: linear-gradient(180deg, #E9F8FF 0%, #F7F5FF 100%);
    border-radius: 5px;

    margin-bottom: $sb;

    .section-content {
        width: 50%;
        margin-left: 20px;

        h3 {
            font-weight: bold;
            font-size: 48px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        p {
            font-size: 24px;
            color: $colorBlack;
            margin-bottom: 40px;
        }
        a {
            padding: 22px 50px;

            font-size: 18px;
            color: $colorWhite;
            font-weight: bold;

            background: $colorBlack;
            border-radius: 5px;

            &:hover {
                background: $colorGray;
                transition: $typeAnim;
            }
        }
    }

    .pluses-items {
        ul {
            margin-bottom: 80px;
        }

        svg {
            margin-right: 15px;
        }

        li {
            margin-bottom: 20px;
        }

        span {
            font-size: 24px;
            color: $colorPurple;
            font-weight: bold;
        }
    }

    .section-image {
        margin-right: 20px;

        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}